@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import '~bootstrap/scss/bootstrap.scss';
@import '/variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.ms_container{
    margin: 0 auto;
    max-width: 1200px;
}


.ms_title{
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: $color19;
}
.ms_title1{
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: $color19;
}
.ms_title2{
    font-weight: bold;
    font-size: 20px;
    color: $color19;
}

.ms_subtitle,
.ms_subtitle1{
    color: $color13;
}

.ms_color{
    color: $color19;
}
.ms_color1{
    color: $color3;
}


button{
    background-color: $color3;
    color: $color0;
    padding: 15px 45px;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
