/* Color cube */
$color0 : #ffffff;
$color1 : #0b0b0b;
$color2 : #aeadae;
$color3 : #1fad96;
$color4 : #504442;
$color5 : #cd1917;
$color6 : #ad6f5b;
$color7 : #5df0c8;
$color9 : #ffbe6b;
$color10 : #4473ee;


/* Median cut */
$color11 : #f6f3f5;
$color12 : #2c3837;
$color13 : #9ea4a5;
$color14 : #975c4d;
$color15 : #ad876a;


/* Material design */
$color16 : #25ab94;
$color17 : #a6846b;
$color18 : #c52618;
$color19 : #48495f;
$color20 : #c99f8e;


$mycolor : #f5f7fa